# Node / JavaScript
node_modules/
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment variables
.env

# Build folders
dist/
build/

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
